.body {
  font-family: 'Bell MT', sans-serif;
  text-align: center;
  background-color: #170d3b22;
  text-decoration: none;
 
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  font-size: 20px;
  margin: 10px 0;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.menu a:hover {
  color: #555;
}
.button2 {
  font-family: 'Bell MT';
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #7a2953b4;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(172, 47, 137, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.1s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #8c4494;
  border-radius: 50%;
  display: block;
  transition: all 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #802a7a;
}

.button2:hover:before {
  top: -35%;
  background-color: #c9abd8;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #a35396;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.container {
  width: 100%;
  height: 100%;
  background-color: rgb(156, 83, 124);
}
.textile{
   background-color: #e1e1e1;
   text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.container span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.container span:nth-of-type(1) {
  filter: blur(5px);
}

.container span:nth-of-type(2) {
  filter: blur(10px);
}

.container span:nth-of-type(3) {
  filter: blur(25px);
}

.container span:nth-of-type(4) {
  filter: blur(50px);
}

.container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}



 

.button2 {
    font-family: 'Bell MT';
    font-size: 14px; /* Diminue la taille de la police */
    color: #3e1638;
    padding: 6px 12px; /* Diminue le padding */
    border-radius: 6px; /* Ajuste le rayon des bordures pour correspondre à la nouvelle taille */
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 3px 3px 6px #c5c5c5, -3px -3px 6px #ffffff; /* Ajuste l'ombre pour la nouvelle taille */
    cursor: pointer;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button2:active {
    color: #666;
    box-shadow: inset 2px 2px 6px #c5c5c5, inset -2px -2px 6px #ffffff; /* Ajuste l'ombre pour l'état actif */
}

.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(172, 47, 137, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.1s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #8c4494;
    border-radius: 50%;
    display: block;
    transition: all 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:hover {
    color: #ffffff;
    border: 1px solid #802a7a;
}

.button2:hover:before {
    top: -35%;
    background-color: #c9abd8;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
    top: -45%;
    background-color: #a35396;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
